<section class="card w3-container">
    <div class="title">
        <h1>Usuários</h1>
    </div>

    <div class="w3-container">
        <button class="btn btn-primary w3-margin-bottom" id="btnCriarUsuario">
            Cadastrar Usuario
        </button>
    </div>
    
    <div class="w3-container" id="pessoas">
        <!-- <table id="tablePessoas">
            <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Opções</th>
            </thead>
            <tbody>
            </tbody>
        </table> -->
        <span class="loading" id="loadingTabelaUsuarios"></span>
    
    </div>
</section>