<div class="card">

    <div class="title">
        <h1>Visualizar Caixa</h1>
    </div>

    <div class="w3-row-padding w3-white">
        
        <div class="w3-half">
            <div class="w3-padding w3-large">
                <span>Nome:</span>
                <span id="nome">[nome do caixa]</span>
            </div>

            <div class="w3-padding w3-gray">
                <div class="w3-half">
                    <span class="w3-w100">Abertura:</span>
                    <span id="data_abertura">01/01/2000</span>
                </div>
                <div class="w3-half">
                    <span>Fechamento:</span>
                    <span id="data_fechamento">01/01/2000</span>
                </div>
            </div>

        </div>

        <div class="w3-half">
            <div class="w3-padding">
                <span class="w3-large"></span>
            </div>
        </div>

    </div>

</div>