.cartao {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao form {
    width: 50%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2rem;
}

@media screen and (max-width: 768px) {
    .cartao form {
        width: 100%;
    }
}